* {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    width: 1000px;
    height: auto;
    padding: 30px 0;
    margin: 0 auto;
}

h1,
h2 {
    width: 100%;
    height: auto;
    margin: 20px 0;
    text-align: center;
}

li,
p {
    margin: 20px 0;
    line-height: 25px;
}

a {
    color: rgba(40, 80, 200, 1);
}

.author {
    text-align: right;
}

.over_time {
    text-indent: 0;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 992px) {

    main {
        width: 90%;
        margin: 0 5%;
        padding: 5% 0;
    }
    
}