* {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    width: 62.5rem;
    height: auto;
    padding: 1.875rem 0;
    margin: 0 auto;
}

h1,
h2 {
    width: 100%;
    height: auto;
    margin: 1.25rem 0;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

li,
p {
    margin: 1.25rem 0;
    line-height: 1.5625rem;
    font-size: 1rem;
}

a {
    color: rgba(17, 124, 238, 1);
    text-decoration: none;
}

.author {
    text-align: right;
}

.over_time {
    text-indent: 0;
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 62rem) {

    main {
        width: 90%;
        margin: 0 5%;
        padding: 5% 0;
    }
    
}