* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face {
  font-family: STXingkai;
  src: url(华文行楷.ttf);
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main .banner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#main .banner .banner_img li {
  display: none;
}
#main .banner .banner_img li:first-child {
  display: block;
}
#main .banner .banner_img img {
  position: absolute;
  left: 0;
  top: 50%;
}
#main .banner .banner_dot {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  width: 5rem;
  height: 1.25rem;
  overflow: hidden;
}
#main .banner .banner_dot li {
  float: left;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
#main .banner .banner_dot li.on {
  background-color: #5050ff;
}
#main .timer {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
  height: 20.625rem;
  z-index: 9;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "STXingkai", "华文行楷";
  border-radius: 2.5rem;
}
#main .timer .timer_main {
  position: relative;
  width: 100%;
  height: 100%;
}
#main .timer .hisName {
  position: absolute;
  top: 1.875rem;
  left: 0;
  width: 100%;
  font-size: 1.875rem;
}
#main .timer .days {
  position: absolute;
  top: 4.375rem;
  left: 0;
  width: 100%;
  height: 13.75rem;
  line-height: 13.75rem;
  color: #000000;
}
#main .timer .days .day {
  font-size: 12.5rem;
}
#main .timer .days .text {
  font-size: 3.125rem;
}
#main .timer p {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 1.25rem;
}
#agreement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  background: rgba(0, 0, 0, 0.85);
  box-sizing: border-box;
  z-index: 99;
  overflow: hidden;
  font-size: 1.125rem;
  color: #FFF;
}
#agreement h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  line-height: 2.1875rem;
  padding: 1.25rem 0 0.3125rem;
  text-align: center;
  font-size: 1.5625rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4);
}
#agreement #agreement_content {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 100%;
  height: calc(100% - 8.75rem);
  padding: 0.625rem 1.25rem;
  box-sizing: border-box;
  overflow: auto;
}
#agreement #agreement_content h2 {
  width: 100%;
  margin: 0.7rem 0 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.25rem;
  text-align: center;
  border-top: 0.0625rem solid #666;
}
#agreement #agreement_content p {
  width: 100%;
  text-indent: 1em;
  margin-bottom: 0.5rem;
}
#agreement #agreement_content a {
  color: #FFF;
  font-weight: bold;
}
#agreement #agreement_content a:hover {
  color: #FFF;
}
#agreement .affirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0.1875rem 1.25rem 0;
  line-height: 2.5rem;
  color: #000;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  box-sizing: border-box;
}
#agreement .affirm span {
  float: left;
  margin: 0.3125rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  width: auto;
  height: 1.25rem;
}
#agreement .affirm #judge {
  float: right;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.3125rem 0;
  vertical-align: middle;
}
#over_time.over_time {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  display: none !important;
  z-index: -1 !important;
}
