* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face {
  font-family: STXingkai;
  src: url(华文行楷.ttf);
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main .banner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#main .banner .banner_img li {
  display: none;
}
#main .banner .banner_img li:first-child {
  display: block;
}
#main .banner .banner_img img {
  position: absolute;
  left: 0;
  top: 50%;
}
#main .banner .banner_dot {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  width: 5rem;
  height: 1.25rem;
  overflow: hidden;
}
#main .banner .banner_dot li {
  float: left;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
#main .banner .banner_dot li.on {
  background-color: #5050ff;
}
#main .timer {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
  height: 20.625rem;
  z-index: 9;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "STXingkai", "华文行楷";
  border-radius: 2.5rem;
}
#main .timer .timer_main {
  position: relative;
  width: 100%;
  height: 100%;
}
#main .timer .hisName {
  position: absolute;
  top: 1.875rem;
  left: 0;
  width: 100%;
  font-size: 1.875rem;
}
#main .timer .days {
  position: absolute;
  top: 4.375rem;
  left: 0;
  width: 100%;
  height: 13.75rem;
  line-height: 13.75rem;
  color: #000000;
}
#main .timer .days .day {
  font-size: 12.5rem;
}
#main .timer .days .text {
  font-size: 3.125rem;
}
#main .timer p {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 1.25rem;
}
.a_con {
  position: fixed;
  left: 0;
  bottom: 1.875rem;
  display: none;
  width: 6.875rem;
  height: 2.5rem;
  z-index: 10;
  background: #117cee;
  color: #ffffff;
  font-size: 0.875rem;
  text-align: center;
  line-height: 2.5rem;
  overflow: hidden;
  border-radius: 0 1.25rem 1.25rem 0;
}
.a_con > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.375rem;
  height: 100%;
}
.a_con > .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../images/close_w.png) 0 0 no-repeat;
  background-size: 100%;
}
#agreement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  box-sizing: border-box;
  z-index: 99;
  overflow: hidden;
  font-size: 1rem;
}
#agreement .main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 80%;
  margin: 0;
  background: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.0625rem solid #ccc;
  box-shadow: 0.1875rem 0.1875rem 0.625rem #aaaaaa;
}
#agreement .main .content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 5.5rem);
  overflow: auto;
  padding: 1rem 0.8rem;
}
#agreement .main .content h1 {
  width: 100%;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.0625rem solid #dddddd;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.1875rem;
}
#agreement .main .content p {
  width: 100%;
  text-indent: 1em;
  margin-top: 0.5rem;
  line-height: 1.5rem;
}
#agreement .main .content p.em0 {
  text-indent: 0;
}
#agreement .main .content p.bor {
  height: 0;
  border-bottom: 0.0625rem solid #dddddd;
}
#agreement .main .content p.fs {
  font-size: 0.625rem;
  text-align: center;
}
#agreement .main .content a {
  color: #117cee;
  text-decoration: none;
}
#agreement .main .affirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  padding: 0.1875rem 1.25rem 0;
  line-height: 2.5rem;
  color: #000;
  border-top: 0.0625rem solid #dddddd;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: -0.1875rem 0 3px #aaaaaa;
}
#agreement .main .affirm div {
  width: 100%;
  height: 50%;
}
#agreement .main .affirm span {
  float: left;
  margin: 0.3125rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  width: auto;
  height: 1.25rem;
}
#agreement .main .affirm #judge {
  float: right;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.3125rem 0;
  vertical-align: middle;
}
#agreement .main .affirm .button {
  width: 10rem;
  height: 2.3rem;
  margin: -0.2rem auto 0;
  border-radius: 0.3rem;
  line-height: 2.3rem;
  text-align: center;
  background: #eb6060;
  color: #ffffff;
  box-shadow: 0.125rem 0.125rem 0.3125rem #ccc;
  opacity: 0.3;
  cursor: pointer;
}
#agreement .main .affirm .button.on {
  background: #117cee;
  opacity: 1;
}
#agreement .main #frame {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
#agreement .main #frame .close {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background: url(../images/close.png) 0 0 no-repeat;
  background-size: 100%;
  border-radius: 50%;
}
#agreement .main #frame iframe {
  width: 100%;
  height: 100%;
}
#over_time.over_time {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  display: none !important;
  z-index: -1 !important;
}
